body {
  font-family: 'DMSans-Bold', sans-serif;
  font-size: 14px;
  line-height: calc(18 / 16);

  background-color: var(--background-form);

  &.modal-open {
    overflow: hidden;
  }
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scroll);
  border-radius: 12px;
  width: 8px;
  height: 114px;

  @include media('tablet') {
    height: 167px;
  }
}

// Container
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1440px;

  @include media('tablet') {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include media('desktop') {
    padding-right: 24px;
    padding-left: 24px;
  }
}

// Generic class for hidden blocks
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}
// класс для скроллу модалок
