{{#each list_name}}
<li class="gallery__item">
    <a class="gallery__link" href="#">{{list_name}}</a>
    <ul class="card-container">
    {{#each books}}
        <li class="card-container__item">
        <a class="card-container__link" href="#">
            <div class="card-container__thumb">
            <img src="{{book_image}}" alt="book-image" loading="lazy" width="180px" height="256px" />
            <div class="overlay">
                <p class="overlay__text">quick view</p>
            </div>
            </div>
            <div class="desk">
            <h3 class="desk__subtitle">{{title}}</h3>
            <p class="desk__text">{{author}}</p>
            </div>                  
        </a>
        </li>
    {{/each}}
    </ul>
    <button class="gallery__btn" type="button">see more</button>
</li>
  {{/each}}

