.button {
  box-sizing: border-box;

  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 149.5px;
  gap: 10px;

  font-family: 'DMSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--primary-text);
  background-color: inherit;

  position: absolute;
  min-width: 499px;
  left: 40px;
  top: 421px;

  border: 2px solid var(--link-focus);
  border-radius: 40px;

  @include animated(color, background-color);

  &:hover,
  &:focus {
    color: var(--link-default);
    background-color: var(--hover);
  }
}
