.home__wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 40px;

  @include min-max('tablet', 'desktop') {
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
    margin: 0 auto;
  }

  @include media('desktop') {
    justify-content: flex-start;
    gap: 86px;
    margin-bottom: 0;
  }
}
