<div class="menu container">
  <div class="menu__autorization js-hidden" data-user="log-in">
    <img
      class="menu__autorization-photo"
      src="./images/noName.png"
      alt="user photo"
      data-userFoto
    />
    <p class="menu__autorization-name" data-user="name">User</p>
  </div>
  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__link menu__link-home" href="index.html">HOME</a>
    </li>
    <li class="menu__item">
      <a
        class="menu__link menu__link-shopping-list js-hidden"
        href="./shopping.html"
        data-user="log-in"
      >
        SHOPPING LIST
        <svg class="menu__link__icon" Width="13" height="16">
          <use href="./images/sprite.svg#uil"></use>
        </svg>
      </a>
    </li>
  </ul>
  <img
    class="menu__img"
    src="./images/burger-menu/Group.png"
    alt="books"
    width="450"
    height="439"
  />

  <button
    class="menu__authenticator-button js-hidden js-log-out"
    data-user="log-out"
  >
    <span class="menu__authenticator-button-text">Sign up</span>
    <svg class="menu__authenticator-button-icon" Width="13" height="10">
      <use href="./images/sprite.svg#arrow"></use>
    </svg>
  </button>
  <button
    class="menu__authenticator-button js-hidden js-log-out"
    data-user="log-in"
  >
    <span class="menu__authenticator-button-text">Log out</span>
    <svg class="menu__authenticator-button-icon" Width="13" height="10">
      <use href="./images/sprite.svg#arrow-black"></use>
    </svg>
  </button>
</div>
