<div class="menu">
    <ul class="menu__list">
        <li class="menu__item"><a class="menu__link current" id="link" href="index.html">HOME</a></li>
        <li class="menu__item"><a class="menu__link" id="link" href="./shopping.html">
                SHOPPING LIST
                <svg class="menu__link__icon" Width="13" height="16">
                    <use href="./images/sprite.svg#uil"></use>
                </svg>
            </a></li>
    </ul>

    <img class="menu__img" src="./images/burger-menu/Group 6.png" alt="books" width="450" height="439">

    <button class="menu__authenticator-button">
        <span class="menu__authenticator-button-text">Sign up</span>
        <svg class="menu__authenticator-button-icon" Width="13" height="10">
            <use href="./images/sprite.svg#arrow"></use>
        </svg>
    </button>

</div>

