<section class="categories section">
  <ul class="categories__container">
    <li class="categories__item">
      <button class="categories__btn categories__btn--active">
        All categories
      </button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button">
        Combined Print and E-book Fiction
      </button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button">
        Combined Print & E-book Nonfiction
      </button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button">Hardcover fiction</button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button">
        Hardcover nonfiction
      </button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button">
        Paperback trade fiction
      </button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button">
        Paperback nonfiction
      </button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button">
        Advice, how-to & Miscellaneous
      </button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button">
        Children’s middle grade hardcover
      </button>
    </li>
  </ul>
</section>
