<section class="home">
    <div class="gallery">
    <h1 class="gallery__title">Best Sellers <span class="gallery__title--span">Books</span></h1>
    <ul class="gallery__list">
    <li class="gallery__item">
        <a class="gallery__link" href="#">Combined Print and E-Book Fiction</a>
        <ul class="card-container">
            <li class="card-container__item">
                <a class="card-container__link" href="#">
                <div class="card-container__thumb">
                    <img
                    src="#"
                    alt="book-image"
                    loading="lazy"
                    width="180px"
                    height="256px"
                    />
                    <div class="overlay">
                    <p class="overlay__text">quick view</p>
                    </div>
                </div>
                    <div class="desk">
                    <h3 class="desk__subtitle">I will find you</h3>
                    <p class="desk__text">Harlan Coben</p>
                    </div>                  
                </a>
        </li>
        </ul>
        <button class="gallery__btn" type="button">see more</button>
    </li>
</ul>
</div>
</section>
