<div class="backdrop ">
    <div class="modal ">
        <!-- <img class="modal_cover"> -->
        <div class="modal_top_section">
            <div class="modal_cover">N/A</div>
            <div class="modal_info_section">
                <p class="modal_book_name">N/A</p>
                <p class="modal_autor">N/A</p>
                <p class="modal_discription">N/A</p>
                <ul class="modal_shops">
                    <li class="modal_item">

                    </li>
                    <li class="modal_item">

                    </li>
                    <li class="modal_item">

                    </li>
                </ul>
            </div>
        </div>
        <div class="modal_bottom_container">
            <button class="modal_button">remove from the shopping list</button>
            <p class="modal_info_text ">Сongratulations! You have added the book to the shopping list. To
                delete, press
                the button “Remove from the shopping list”.</p>
        </div>
    </div>
</div>