<section class="shoppinglist">
  <div class="container shoop" id="listTitle">

  <div class="shoopinglist__emptylist" id="shoopinglist__emptylist">
      <h2 class="shoppinglist__title">Shopping <span class="shoppinglist__titlecolor">List</span></h2>
      <div class="shoopinglist__emptylist-cont">
      <p class="shoppinglist__emptytitle">This page is empty, add some books <br> and proceed to order.</p>
      <!-- <img srcset="./images/shoopinglist/EmptyShopp/1BooksEpty.png 265w, 
      ./images/shoopinglist/EmptyShopp/1shoppemptydesc.png 323w, 
      ./images/shoopinglist/EmptyShopp/1BooksEpty@2x.png 530w, 
      ./images/shoopinglist/EmptyShopp/1shoppemptydesc@2x.png 644w" 
      sizes="(min-width: 1280px) 265px, (min-width: 768px) 323px, (min-width: 375px) 530px, 100vw" 
      src="./images/shoopinglist/EmptyShopp/1BooksEpty.png" alt="shoopinglist__empty" loading="lazy"> -->
  </div>
  </div>

   <div class="shoopinglist__galery" id="shoppingList"> 
      <!-- <div class="shoppinglist__galery-bookone">
          <div class="shoppinglist__galery-booktitle">
          <div class="shoppinglist__galery-imgavtor">
              <img class="shoppinglist__galery-img" srcset="./images/shoopinglist/13booktitle.jpg 1x, ./images/shoopinglist/13booktitle@2x.jpg 2x" src="./images/shoopinglist/13booktitle.jpg" alt="booktitle">  
          </div>
              <div class="shoppinglist__galery-booknamewithamazon">
                  <p class="shoppinglist__galery-bookname">I WILL FIND YOU</p>
                  <p class="shoppinglist__galery-bookautor">Hardcover fiction</p>
              </div>
          </div>  -->
<!-- 
      <div class="shoopinglist__displaynone">
      <div class="shoopinglist__galery-flex">
          
                <ul class="shoppinglist__galery-href">
                  <li class="shoopinglist__galery-hrefli"><a href="" class="shoppinglist__galery-link" target="_blank" rel="noopener noreferrer" aria-label="amazon">
                      <img class="shoopinglist__galery-img1" src="./images/shoopinglist/amazon/1amazon.png" srcset="./images/shoopinglist/amazon/1amazon.png 1x, ./images/shoopinglist/amazon/1amazon@2x.png 2x" alt="amazon">
                  </a></li>
                  <li class="shoopinglist__galery-hrefli"><a href="" class="shoppinglist__galery-link" target="_blank" rel="noopener noreferrer" aria-label="instagram">
                      <img class="shoopinglist__galery-img2" src="./images/shoopinglist/amazon/1openbook.png" srcset="./images/shoopinglist/amazon/1openbook.png 1x, ./images/shoopinglist/amazon/1openbook@2x.png 2x" alt="amazon">
                  </a></li>
                  <li class="shoopinglist__galery-hrefli"><a href="" class="shoppinglist__galery-link" target="_blank" rel="noopener noreferrer" aria-label="instagram">
                      <img class="shoopinglist__galery-img3" src="./images/shoopinglist/amazon/2booksshop.png" srcset="./images/shoopinglist/amazon/2booksshop.png 1x, ./images/shoopinglist/amazon/2booksshop@2x.png 2x" alt="amazon">
                  </a></li>
              </ul>      -->
              <!-- <p class="shoppinglist__galery-avtor">Harlan Coben</p>
          </div>
      <p class="shoppinglist__galery-bookdescription">David Burroughs was once a devoted father to his three-year-old son Matthew, living a dream life just a short drive away from the working-class suburb where he and his wife, Cheryl, first fell in love--until one fateful night when David woke suddenly to discover 
      Matthew had been murdered while David was asleep just down the hall.</p>
  </div>
      <button class="shoopinglist__btnclose" type="button" id="button">
          <svg class="shoppinglist__galery-icon">
          <use href="./images/sprite.svg#trash"></use>
       </svg></button> -->
      </div> 
  </div>
  </div> 
</section>
