<section class="shoppinglist">
  <div class="container shoop" id="listTitle">
    <div class="shoopinglist__emptylist" id="shoopinglist__emptylist">
      <h2 class="shoppinglist__title">
        Shopping <span class="shoppinglist__titlecolor">List</span>
      </h2>
      <div class="shoopinglist__emptylist-cont">
        <p class="shoppinglist__emptytitle">
          This page is empty, add some books <br />
          and proceed to order.
        </p>
        <img
          srcset="
            ./images/shoopinglist/EmptyShopp/1BooksEpty.png         265w,
            ./images/shoopinglist/EmptyShopp/1shoppemptydesc.png    323w,
            ./images/shoopinglist/EmptyShopp/1BooksEpty@2x.png      530w,
            ./images/shoopinglist/EmptyShopp/1shoppemptydesc@2x.png 644w
          "
          sizes="(min-width: 1280px) 265px, (min-width: 768px) 323px, (min-width: 375px) 530px, 100vw"
          src="./images/shoopinglist/EmptyShopp/1BooksEpty.png"
          alt="shoopinglist__empty"
          loading="lazy"
        />
      </div>
    </div>

    <div class="shoopinglist__galery" id="shoppingList">
    </div>
  </div>
  <div id="pagination" class="tui-pagination"></div>
</section>
