<div class="support__ukraine">
  <h2 class="support__ukraine-title">
    Support Ukraine
    <svg class="support__ukraine-icon" width="20" height="32">
      <use href="./images/sprite.svg#trident"></use>
    </svg>
  </h2>

  <div class="swiper">
    <ul class="swiper-wrapper"></ul>
  </div>

  <button
    class="support__ukraine-slyder-btn swiper-button-next"
    type="button"
    aria-label="swiper button"
  >
    <svg class="support__ukraine-slyder-icon">
      <use href="./images/sprite.svg#icon-scroll-up"></use>
    </svg>
  </button>
</div>
