.backdrop--form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background: var(--link-focus);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.form__wrap {
  position: relative;
  width: 89.33%;
  padding: 30px 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;

  color: var(--border-form);
  background-color: var(--background-form);
  border: 2px solid var(--border-form);
  border-radius: 18px;

  @include media('tablet') {
    padding: 70px 40px 40px;
    max-width: 579px;

    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.btn-close {
  position: absolute;
  top: 14px;
  right: 14px;

  color: var(--border-form);

  @include animated(color);

  &:hover,
  &:focus {
    color: var(--hover);
  }
}

.form__inner {
  position: relative;
  overflow: hidden;
}

.form {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  transform: translateY(100%);

  @include animated(transform);

  &[data-sign='active'] {
    position: relative;
    transform: translateY(0);
  }
}

.form__label {
  position: relative;

  cursor: pointer;
}

.form__field-name {
  position: absolute;
  top: 16px;
  left: 22px;
  padding: 0 2px;

  color: var(--border-form);

  @include animated(color, transform);

  @include media('tablet') {
    top: 20px;
    left: 40px;
  }
}

.form__field-text,
.form__btn {
  width: 100%;
  height: 50px;
  padding-right: 42px;
  padding-left: 24px;

  color: var(--border-form);

  background-color: inherit;
  border: 2px solid var(--border-form);
  border-radius: 40px;
  outline: none;

  @include media('tablet') {
    height: 64px;
    padding-right: 60px;
    padding-left: 40px;
  }
}
.form__field-text::placeholder {
  opacity: 0;
}
.form__field-text:focus::placeholder {
  opacity: 1;
}
.form__field-text:not(:placeholder-shown),
.form__field-text:focus {
  & + .form__field-name {
    color: var(--hover);
    transform: translateY(-135%);

    background-color: var(--background-form);
  }
  & ~ .form__icon {
    color: var(--hover);
  }
}

.form__icon {
  position: absolute;
  top: 16px;
  right: 24px;

  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  fill-opacity: 0;
  stroke-width: 0;
  stroke: currentColor;

  @include animated(color);

  &--close {
    position: static;
  }

  @include media('tablet') {
    top: 18px;
    right: 32px;

    width: 28px;
    height: 28px;
  }
}

.form__btn,
.sign-page {
  font: inherit;
  line-height: calc(18 / 16);
  letter-spacing: -0.01em;

  text-transform: uppercase;
}

.form__btn {
  padding-right: 24px;

  color: var(--btn-form);
  background-color: var(--border-form);
}

.sign-wrap {
  margin-top: 14px;

  display: flex;
  justify-content: center;
  gap: 20px;

  @include media('tablet') {
    margin-top: 20px;
  }
}

.sign-page {
  color: var(--border-form);
  opacity: 0.5;

  @include animated(color, opacity);

  &[data-sign='active'] {
    color: var(--link-focus);
    text-decoration-line: underline;
    opacity: 1;
  }
}
