.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  overflow: hidden;
  height: 228px;
  overflow-y: auto;
  scroll-snap-type: mandatory;
  margin-right: 0;
  margin-left: 0;

  &__item {
    scroll-snap-align: end;
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__btn {
    font-family: 'DMSans-Regular';
    font-size: 16px;
    line-height: calc(18 / 16);

    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
  }

  &__btn:hover,
  &__btn:focus {
    font-family: 'DMSans-Bold';
    text-transform: uppercase;
    color: getColor('hover');
  }
  &__btn--active {
    font-family: 'DMSans-Bold';
    text-transform: uppercase;

    color: getColor('hover');
  }
}
