.categories {
  display: flex;

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  &__item {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__btn {
    font-family: 'DMSans-Regular';
    font-size: 16px;
    line-height: 18px;

    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
  }

  &__btn:hover,
  &__btn:focus {
    font-family: 'DMSans-Bold';
    text-transform: uppercase;
    color: getColor('hover');
  }
  &__btn--active {
    font-family: 'DMSans-Bold';
    text-transform: uppercase;
    color: getColor('hover');
  }
}
