.home__wrap {
  gap: 40px;
}
.home__wrapper {
  margin: 0 auto;
}
.categories {
  max-width: 335px;
  overflow: hidden;

  @include media('tablet') {
    max-width: 337px;
    padding-bottom: 100px;
  }

  @include media('desktop') {
    max-width: 316px;
    padding-bottom: 0;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    margin-right: 0;
    margin-left: 0;
    height: 228px;
    overflow: hidden;
    overflow-y: auto;
    scroll-snap-type: mandatory;
    text-align: left;

    @include media('tablet') {
      height: 472px;
    }
  }

  &__item {
    scroll-snap-align: end;
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__btn {
    font-family: 'DMSans-Regular';
    font-size: 16px;
    line-height: calc(18 / 16);
    font-weight: 400;
    letter-spacing: -0.02em;
    color: var(--catigory-text);
    text-align: left;
    @include animated(color, text-transform);

    @include media('tablet') {
      line-height: calc(24 / 18);
    }
  }

  &__btn:hover,
  &__btn:focus {
    font-family: 'DMSans-Bold';
    text-transform: uppercase;
    color: var(--hover);
    // font-size: 4vw;

    // @include media('phone', min) {
    //   font-size: 4vw;
    // }

    // @include media('tablet') {
    //   font-size: 14px;
    // }
  }

  .categories__btn--active {
    font-family: 'DMSans-Bold';
    text-transform: uppercase;

    color: var(--hover);
    // font-size: 4vw;
  }
}

.category__list {
  gap: 24px;
}
