.header {
  min-width: 375px;
  height: 64px;
  border: 1.5px solid var(--primary-text);
  border-radius: 0px 0px 8px 8px;
  background-color: var(--background-color);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.book-svg {
  width: 53px;
  height: 17px;
  margin-left: 8px;
  fill: var(--primary-text);
}

.header__logo__container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__logo {
  display: flex;
  align-items: center;
  max-width: 83px;
  max-height: 28px;
}

.logo-svg {
  width: 25px;
  height: 25px;
}

.header__navigation-links {
  display: none;
  align-items: center;
  margin-left: 32px;

  @include media('tablet') {
    display: flex;
  }
}
.navigation-links__home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 34px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;

  color: #111111;
  margin-right: 8px;
  background: var(--background-header-btn);
  border-radius: 36px;
}
.navigation-links__shopping-list {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: var(--primary-text);

  width: 156px;
  height: 34px;
  border-radius: 36px;
}
.navigation-links__shopping-list-icon {
  fill: var(--primary-text);
  margin-left: 4px;
}

// Для хедера shopping-list
// .navigation-links__shopping-list {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: calc(18 / 14);
//   letter-spacing: -0.04em;
//   color: var(--primary-text);

//   width: 156px;
//   height: 34px;
//   background:var(--background-header-btn);
//   border-radius: 36px;
// }
// .navigation-links__shopping-list-icon {
//   margin-left: 4px;
// }
// Для хедера shopping-list
// CheckBox
#highload1 {
  display: none;
}
#highload1 + .lb1,
#highload1 + .lb1::before,
#highload1 + .lb1::after {
  transition: all 0.3s;
}
#highload1 + .lb1 {
  width: 40px;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  margin-top: 3px;
  display: inline-block;
  position: relative;
  border-radius: 30px;
}
#highload1 + .lb1::before {
  content: attr(data-offlabel);
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  display: block;
  position: absolute;
  top: 18px;
  right: 10px;
}
#highload1 + .lb1::after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px, rgba(0, 0, 0, 0.1) 0px 2px 2px,
    rgba(0, 0, 0, 0.1) 1px 2px 4px;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(247, 247, 247) 100%);
  border-radius: 50%;
}
#highload1:checked + .lb1::before {
  content: attr(data-onlabel);
  left: 16px;
  right: auto;
  color: #fff;
}
#highload1:checked + .lb1::after {
  left: 21px;
  background-color: #f7f7f7;
}
#highload1 + .lb1 {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px inset;
  background: linear-gradient(rgb(79, 46, 232) 0%, rgb(220, 220, 220) 100%);
}
#highload1:checked + .lb1 {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#highload1:checked + .lb1::before {
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
}
// CheckBox

.checkbox {
  width: 40px;
  height: 24px;
}
.header__checkBoxBurger {
  display: flex;
  align-items: center;
  min-width: 82px;
  min-height: 28px;
}
.header__burger-menu-button {
  width: 28px;
  height: 28px;
  margin-left: 14px;
  display: block;
  @include media('tablet') {
    display: none;
  }
}
.close {
  display: none;
}
.header__burger-menu-icon {
  fill: currentColor;
  stroke: var(--primary-text);
  width: 28px;
  height: 28px;
}

.header__authenticator-button {
  display: none;
  align-items: center;
  min-width: 184px;
  min-height: 48px;
  background-color: #4f2ee8;
  border: 1.5px solid #111111;
  border-radius: 18px;
  margin-left: 24px;
  @include media('tablet') {
    display: flex;
  }
}

.header__authenticator-button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-left: 14px;
  margin-right: auto;
}

.header__authenticator-button-icon {
  margin-right: 14px;
}
