.header {
  height: 64px;
  border: 1.5px solid var(--primary-text);
  border-radius: 0px 0px 8px 8px;
  background-color: var(--background-color);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.book-svg {
  width: 53px;
  height: 17px;
  margin-left: 8px;
  fill: var(--primary-text);
}

.header__logo__container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__logo {
  display: flex;
  align-items: center;
  max-width: 83px;
  max-height: 28px;
}

.logo-svg {
  width: 25px;
  height: 25px;
}

.header__navigation-links {
  display: none;
  align-items: center;
  margin-left: 32px;

  @include media('tablet') {
    display: flex;
  }
}
.navigation-links__home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 34px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;

  color: var(--primary-text);
  margin-right: 8px;

  @include animated(color);

  border-radius: 36px;
  &:hover {
    color: var(--hover);
  }
}
.index .navigation-links__home {
  background: var(--background-header-btn);
  color: var(--black-color-not-chenge);

  @include animated(color);

  &:hover {
    color: var(--link-focus);
  }
}

.navigation-links__shopping-list {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: var(--black-color-not-chenge);
  width: 156px;
  height: 34px;
  border-radius: 36px;
}

.index .navigation-links__shopping-list {
  background-color: var(--background-color);
  color: var(--primary-text);
  @include animated(color);

  &:hover {
    color: var(--hover);
  }
}
.navigation-links__shopping-list {
  background: var(--background-header-btn);
  @include animated(color);

  &:hover {
    color: var(--link-focus);
  }
}

.index .navigation-links__shopping-list-icon {
  fill: currentColor;
}
.navigation-links__shopping-list-icon {
  fill: currentColor;
  margin-left: 4px;
}

// CheckBox
#highload1 {
  display: none;
}
#highload1 + .lb1,
#highload1 + .lb1::before,
#highload1 + .lb1::after {
  transition: all 0.3s;
}
#highload1 + .lb1 {
  width: 40px;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  margin-top: 3px;
  display: inline-block;
  position: relative;
  border-radius: 30px;
}
#highload1 + .lb1::before {
  content: attr(data-offlabel);
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  display: block;
  position: absolute;
  top: 18px;
  right: 10px;
}
#highload1 + .lb1::after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px, rgba(0, 0, 0, 0.1) 0px 2px 2px,
    rgba(0, 0, 0, 0.1) 1px 2px 4px;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(247, 247, 247) 100%);
  border-radius: 50%;
}
#highload1:checked + .lb1::before {
  content: attr(data-onlabel);
  left: 16px;
  right: auto;
  color: #fff;
}
#highload1:checked + .lb1::after {
  left: 21px;
  background-color: #f7f7f7;
}
#highload1 + .lb1 {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px inset;
  background: linear-gradient(rgb(79, 46, 232) 0%, rgb(220, 220, 220) 100%);
}
#highload1:checked + .lb1 {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#highload1:checked + .lb1::before {
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
}
// CheckBox

.checkbox {
  width: 40px;
  height: 24px;
}
.header__checkBoxBurger {
  display: flex;
  align-items: center;
  min-width: 82px;
  min-height: 28px;
}
.header__burger-menu-button {
  width: 28px;
  height: 28px;
  margin-left: 14px;
  display: block;
  @include media('tablet') {
    display: none;
  }
}

.header__burger-menu-icon {
  fill: currentColor;
  stroke: var(--primary-text);
  width: 28px;
  height: 28px;

  @include animated(stroke);

  &:hover {
    stroke: var(--hover);
  }
}
.js-is-hidden {
  display: flex;
}
.header__authenticator-button {
  display: none;
  align-items: center;
  min-width: 184px;
  min-height: 48px;
  background-color: var(--link-focus);
  border: 1.5px solid var(--black-color-not-chenge);
  border-radius: 18px;
  margin-left: 24px;
  @include media('tablet') {
    display: flex;
  }
}

.header__authenticator-button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: var(--white-color-not-chenge);
  margin-left: 14px;
  margin-right: auto;
}

.header__authenticator-button-icon {
  margin-right: 14px;
}
.header__authenticator-button-in {
  cursor: pointer;
  position: relative;
  align-items: center;
  min-width: 184px;
  height: 45px;
  background-color: var(--link-focus);
  border-radius: 36px;
  margin-left: 24px;
  display: flex;
  fill: var(--white-color-not-chenge);
  @include animated(fill);

  &:hover {
    fill: var(--background-header-btn);
  }
  @media screen and (max-width: 560px) {
    display: none;
  }
}

.header__authenticarot-button-in-svg {
  width: 13px;
  height: 7px;
  margin-right: 12px;
  margin-left: auto;
}
.header__user-photo {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-left: 12px;
  margin-right: auto;
}

.header__authenticator-button-in-text {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: calc(29 / 22);
  letter-spacing: -0.02em;
  color: var(--white-color-not-chenge);
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 5px;
}

.overlay-svg {
  position: absolute;
  top: 56px;
  right: 0%;
  width: 184px;
  height: 155px;
  transform: translateY(-15%);
  background-color: var(--link-focus);

  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, transform 0.5s ease-in-out;
  z-index: 99;
}

.js-hidden {
  display: none;
}
.js-modal--open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}
.authenticator-button-change-photo {
  width: 118px;
  height: 48px;
  background-color: var(--white-color-not-chenge);
  border: 1.5px solid #111111;
  border-radius: 18px;
  color: var(--black-color-not-chenge);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  margin-bottom: 40px;

  @include animated(background-color);

  &:hover {
    background-color: var(--background-header-btn);
  }
}
.authenticator-button {
  width: 118px;
  height: 48px;
  background-color: var(--white-color-not-chenge);
  border: 1.5px solid #111111;
  border-radius: 18px;
  margin-left: 50px;
  stroke: var(--background-header-btn);

  @include animated(background-color, stroke);

  &:hover {
    background-color: var(--background-header-btn);
    stroke: var(--link-focus);
  }
}

.authenticator-button-text {
  color: var(--black-color-not-chenge);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
}
