.gallery {
  display: block;
  max-width: 996px;

  @include media('desktop') {
    margin-left: 40px;
  }

  &__title {
    font-size: 32px;
    line-height: calc(38 / 32);
    letter-spacing: -0.04em;
    margin-bottom: 40px;

    @include media('desktop') {
      font-size: 48px;
      line-height: 108%;
    }

    &--span {
      color: getColor('link-focus');
    }
  }

  &__item {
    margin-bottom: 40px;
  }

  &__btn {
    min-width: 124px;
    min-height: 46px;
    padding: 14px 28px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    display: flex;
    float: right;

    border: 2px solid #4f2ee8;
    border-radius: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    display: block;
    font-family: 'DMSans-Regular';
    font-weight: 400;
    font-size: inherit;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #b4afaf;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
}

.card-container {
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;

  @include media('tablet') {
    flex-direction: row;
    gap: 25px;
    margin-bottom: 20px;
  }

  @include media('desktop') {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 32px;
  }

  &__item {
    &:nth-child(1) {
      display: block;
    }
    &:nth-child(n + 2) {
      display: none;
    }

    @include media('tablet') {
      &:nth-child(-n + 3) {
        display: block;
      }
      &:nth-child(n + 4) {
        display: none;
      }
    }

    @include media('desktop') {
      &:nth-child(n) {
        display: block;
      }
    }
  }

  &__link {
    display: block;
    border-radius: 8px;
    text-align: left;

    &:hover .overlay,
    &:focus .overlay {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 14px;
    pointer-events: none;

    @include media('phone') {
      width: 335px;
      height: 485px;
    }

    @include media('tablet') {
      width: 218px;
      height: 316px;
    }

    @include media('desktop') {
      width: 180px;
      height: 256px;
    }
  }
}

.desk {
  @include media('phone') {
    width: 335px;
  }

  @include media('tablet') {
    width: 218px;
  }

  @include media('desktop') {
    width: 180px;
  }

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &__subtitle {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: calc(18 / 16);
    letter-spacing: -0.04em;
    text-transform: uppercase;
    display: inline;
  }

  &__text {
    font-family: 'DMSans-Italic';
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: -0.04em;
    color: #b4afaf;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27%;
  background-color: rgba(234, 198, 67, 0.75);
  border-radius: 0px 0px 8px 8px;
  opacity: 0;

  transform: translateY(100%);
  // transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
  @include animated(transform, opacity);

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  }
}
