@media screen and (min-width: 768px) {
  .btn__up {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 99;
    width: 64px;
    height: 64px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    border-color: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    background: radial-gradient(
      circle at center,
      #4f2ee8 58%,
      rgba(79, 46, 232, 0.3) 63%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.4s linear;
    opacity: 1;
    animation: swing 4s infinite;
    @keyframes swing {
      15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
      }
      30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
      }
      40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
      }
      50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
      }
      65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    &:hover,
    &:focus {
      filter: drop-shadow(0px 0px 30px blue);
      border-radius: 50%;
    }
  }
}

.btn__uphide {
  display: none;
}

.btn__uphiding {
  opacity: 0;
}

.btn__upicon {
  fill: #ffffff;
}
