@media screen and (min-width: 320px) {
  .btn__up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10;
    width: 34px;
    height: 34px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    border-color: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    background: radial-gradient(
      circle at center,
      var(--link-focus) 58%,
      rgba(79, 46, 232, 0.3) 63%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.4s linear;
    opacity: 1;
    animation: swing 10s infinite;
    @keyframes swing {
      15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
      }
      30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
      }
      40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
      }
      50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
      }
      65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    &:hover,
    &:focus {
      filter: drop-shadow(0px 0px 30px var(--link-focus));
      border-radius: 50%;
    }
  }
}

@media screen and (min-width: 768px) {
  .btn__up {
    width: 64px;
    height: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .btn__up {
    width: 64px;
    height: 64px;
  }
}

.btn__uphide {
  display: none;
}

.btn__uphiding {
  opacity: 0;
}

.btn__upicon {
  fill: #ffffff;
  width: 16px;
  height: 16px;

  @include min-max('tablet', 'desktop') {
    width: 22px;
    height: 22px;
  }

  @include media('desktop') {
    width: 24px;
    height: 24px;
  }
}
