// SUPPORT-UKRAINE

// import swiper css
@import '../../node_modules/swiper/swiper-bundle.css';
@import '../../node_modules/swiper/swiper.css';

// section
.support__ukraine {
  max-width: 356px;
  height: 352px;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;

  color: var(--white-color-not-chenge);

  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    var(--link-focus) 18.03%,
    var(--white-color-not-chenge) 100%
  );

  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.102);
  border-radius: 16px;

  @include media('tablet') {
    width: 335px;
    height: 472px;
    padding-bottom: 14px;
  }

  @include media('desktop') {
    width: 356px;
    height: 490px;
    padding-bottom: 24px;
  }
}

// title
.support__ukraine-title {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 40px;

  text-align: left;
  font-size: 7.093vw;
  line-height: 1.14;
  letter-spacing: -0.04em;

  @include media('phone') {
    font-size: 28px;
  }
}

.support__ukraine-icon {
  fill: currentColor;
}

// foundation-list
.support__ukraine-item {
  display: flex;
  gap: 16px;
  height: 32px;
  align-items: center;

  font-family: 'DMSans-Regular';
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
}

.support__ukraine-link {
  height: 32px;
  text-align: left;
}

.support__ukraine-logo {
  display: block;
  width: 131px;
  height: 32px;
  object-fit: cover;
}

.support__ukraine-img {
  height: 100%;
  display: block;
  object-fit: cover;
  margin-right: auto;
  margin-left: 0;
  filter: brightness(0) invert(1);
}

// slider-button
.support__ukraine-slyder-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: none;

  object-fit: contain;
  fill: var(--link-focus);
  background-color: var(--white-color-not-chenge);

  @include animated(transform);

  &:hover {
    transform: scale(1.2);
  }

  @include media('tablet') {
    height: 38px;
    width: 38px;
    margin-top: 32px;
  }

  @include media('desktop') {
    margin-top: 40px;
  }
}

.support__ukraine-slyder-icon {
  height: 20px;
  width: 20px;
  transform: rotate(180deg);

  @include media('tablet') {
    height: 22px;
    width: 22px;
  }
}

// swiper
.swiper {
  width: 200px;
  height: 188px;
  margin-left: 0;

  @include media('phone') {
    width: 255px;
  }

  @include media('tablet') {
    height: 292px;
  }
}

.swiper-button-next {
  position: static;
  text-align: center;
  padding: 0;

  &::after {
    display: none;
  }
}
